{% extends 'dqmhelper/base.html' %}
{% block title %}Tracker Maps{% endblock %}

{% load static %}

{% block style %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="mt-4 mb-4 col-lg-12 text-center">
                <h1>Generate Tracker Maps</h1>
            </div>
        </div>
    </div>

    <div class="container mb-4">
        <div class="card border-light shadow p-3 bg-white rounded mb-4">
            <form method="post" class="justify-content-center align-items-center" id="id_form_generate_maps">
                {% csrf_token %}
                <div class="form-group">
                    <div class="row mb-3 justify-content-center">
                        <div class="col-sm-5">
                            <div class="row mb-3 justify-content-center">
                                <div class="col-sm-6">
                                    <b>from:</b>
                                    <input type="number" class="form-control" name='min' id='id_run_number' min="100000" max="999999" placeholder="Run number" aria-describedby="emailHelp" required>
                                </div>
                                <div class="col-sm-6">
                                    <b>to:</b>
                                    <input type="number" class="form-control" name='max' id='id_run_number' min="100000" max="999999" placeholder="Run number" aria-describedby="emailHelp" required>
                                </div>
                            </div>
                        </div>
                        {%if 0%}
                        <div class="col-1 text-center my-auto">
                            <h5 class="font-weight-bold text-center">or</h5>
                        </div>
                        <div class="col-sm-5">
                            <b>list:</b>
                            <input type="text" class="form-control" name="list" placeholder="Separated list of run numbers (comma or space)" id="id_run_number_list" required>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3 justify-content-center">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-secondary">
                            <input type="radio" name="type" value='StreamExpress' autocomplete="off" class="sr-only" required> StreamExpress
                        </label>
                        <label class="btn btn-outline-secondary">
                            <input type="radio" name="type" value='ZeroBias' autocomplete="off" class="sr-only" required> ZeroBias
                        </label>
                        <label class="btn btn-outline-secondary">
                            <input type="radio" name="type" value='StreamExpressCosmics' autocomplete="off" class="sr-only" required> StreamExpressCosmics
                        </label>
                        <label class="btn btn-outline-secondary">
                            <input type="radio" name="type" value='Cosmics' autocomplete="off" class="sr-only" required> Cosmics
                        </label>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-primary" id="id_generate_maps">
                        Generate Tracker Maps
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="container overflow-auto">
        <div class="card border-light shadow p-2 bg-dark rounded">
            <button class="btn btn-primary" onClick="clearOutput()" style="position:absolute;top:16px;right:30px;" >Clear</button>
            <textarea class="text-light bg-dark" style="border: none; height: 450px" cols="150" id="id_command_output"></textarea>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script>
var $myForm = $("#id_form_generate_maps");
$myForm.submit(function(){
    $("#id_form_generate_maps").find(':input[type=submit]').prop('disabled', true);
    // add spinner to button
    if ($('[id=id_run_number]').val() != '') {
      $('#id_run_number_list').removeAttr('required');
    }
    if ($("#id_form_generate_maps")[0].checkValidity()) {
        $("#id_generate_maps").html(
            `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
    }
    $.ajax({
        headers: { "X-CSRFToken": '{{csrf_token}}' },
        type: "POST",
        url: "{% url 'trackermaps:maps' %}",
        data: {
           'min': $('#id_form_generate_maps [name="min"]').val(),
           'max' : $('#id_form_generate_maps [name="max"]').val(),
           'type' : $('#id_form_generate_maps [name="type"]:checked').val()
        },
        success: function() {
            $("#id_generate_maps").html(
                'Generate Tracker Maps'
            );
            $("#id_form_generate_maps").find(':input[type=submit]').prop('disabled', false);
        }
    });
    return false
});

$(document).ready(function() {
    $(function() {
        $('[id=id_run_number]').focus(function(){
          $('#id_run_number_list').val('');
          $('#id_run_number_list').prop('disabled', 'disabled');
        }).blur(function(){
          $('#id_run_number_list').prop('disabled', '');
        });

        $('#id_run_number_list').focus(function(){
          $('[id=id_run_number]').val('');
          $('[id=id_run_number]').prop('disabled', 'disabled');
        }).blur(function(){
          $('[id=id_run_number]').prop('disabled', '');
        });
    });
});

if (location.protocol === 'https:') {
    // page is secure
    var command_output_socket = new WebSocket(
        'wss://' + window.location.host +
        '/ws/output/');
}
else{
    var command_output_socket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/output/');
}

function clearOutput(){
    $('#id_command_output').val("");
}

command_output_socket.onmessage = function(e) {
    var data = JSON.parse(e.data);
    var message = data['message'];
    document.querySelector('#id_command_output').value += (message);
    document.getElementById('id_command_output').scrollTop = document.getElementById('id_command_output').scrollHeight;
};

command_output_socket.onclose = function(e) {
    console.error('Socket closed unexpectedly: '+ e.message);
};
</script>
{% endblock %}
