{% extends "dqmhelper/base.html" %}

{% block title %}
    Hard Delete Run
{% endblock %}
{% block content %}
    {% load static %}

    <h1 align="center">Hard Delete Run</h1>
    </br>
    <h4 align="center">
        Are you sure you want to irrevocably delete that run, created by
        {% if run.user.first_name %}
            {{ run.user.first_name }} {{ run.user.last_name }} ({{ run.user.username }})
        {% else %}
            {{ run.user.username }}
        {% endif %} ?
    </h4>

    <p>
    <ul>
        <li>Run Number: {{ run.run_number }}</li>
        <li>Type: {{ run.type }}</li>
        <li>Reference Run: {{ run.reference_run }}</li>
    </ul>
    </p>

    <form action="" method="post" align="center">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes</button>
        <a href="{% url 'list' %}" class="btn btn-default">No</a>
    </form>
{% endblock %}
