{% if queryset.run_numbers %}
<div style="max-width: 700px;">
    <h4>{{ caption }}</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-sm-3" scope="col">Fill Number</th>
                <th class="col-sm-9" scope="col">Certified Runs</th>
            </tr>
        </thead>
        <tbody>
            {% for fill in queryset.fills %}
            <tr>
                <td scope="row" class="col-sm-3">{{ fill.fill.fill_number}}</td>
                <td class="col-sm-9">{{ fill.run_number|join:", " }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
