{% extends 'dqmhelper/base.html' %}

{% load static %}

{% block style %}

<link rel="stylesheet" type="text/css" href="{% static "home/css/style.css" %}">

{% endblock style %}

{% block content %}

<div class="album py-4 bg-light">
    <div class="container">
        {% if user.is_authenticated %}
        <div class="card-deck">

            {% if user.has_shifter_rights %}
            <div class="card h-50">
                <div class="btn btn-dark" onclick="location.href='{% url 'openruns:openruns' %}'">
                    <div class="card-header">
                        <h4 class="text-center font-weight-bold mt-1 mb-1">Certification</h4>
                    </div>
                    <img class="card-img-top embed-responsive-item img" src="{% static "home/img/certifyRun.jpg" %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center" style="font-size: 18px">Certify a Run</p>
                    </div>
                </div>
            </div>
            <div class="card h-50">
                <div class="btn btn-dark" onclick="location.href='{% url 'listruns:list' %}'">
                    <div class="card-header">
                        <h4 class="text-center font-weight-bold mt-1 mb-1">List Runs</h4>
                    </div>
                    <img class="card-img-top embed-responsive-item img" src="{% static "home/img/listCertRuns.jpg" %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center" style="font-size: 18px">List certified runs</p>
                    </div>
                </div>
            </div>
            <div class="card h-50">
                <div class="btn btn-dark" onclick="location.href='{% url 'summary:summary' %}'">
                    <div class="card-header">
                        <h4 class="text-center font-weight-bold mt-1 mb-1">Daily Shift Report</h4>
                    </div>
                    <img class="card-img-top embed-responsive-item img" src="{% static "home/img/dailyReport.jpg" %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center" style="font-size: 18px">Generate daily shift report</p>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
        <div class="card-deck pt-3">
            {% if user.has_shift_leader_rights %}
            <div class="card h-50">
                <div class="btn btn-dark" onclick="location.href='{% url 'shiftleader:shiftleader' %}'">
                    <div class="card-header">
                        <h4 class="text-center font-weight-bold mt-1 mb-1">Shift Leader Report</h4>
                    </div>
                    <img class="card-img-top embed-responsive-item img" src="{% static "home/img/shiftleader.png" %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center" style="font-size: 18px">Generate shift leader report</p>
                    </div>
                </div>
            </div>
            <div class="card h-50">
                <div class="btn btn-dark" onclick="location.href='{% url 'addrefrun:addrefrun' %}'">
                    <div class="card-header">
                        <h4 class="text-center font-weight-bold mt-1 mb-1">Add Reference Run</h4>
                    </div>
                    <img class="card-img-top embed-responsive-item img" src="{% static "home/img/addReferenceRun.png" %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center" style="font-size: 18px">Add a new reference run</p>
                    </div>
                </div>
            </div>
            <div class="card h-50">
                <div class="btn btn-dark" onclick="location.href='{% url 'trackermaps:maps' %}'">
                    <div class="card-header">
                        <h4 class="text-center font-weight-bold mt-1 mb-1">Tracker Maps</h4>
                    </div>
                    <img class="card-img-top embed-responsive-item img" src="{% static "home/img/trackermaps.png" %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center" style="font-size: 18px">Generate tracker maps</p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="card-deck pt-3">
            {% if user.has_shifter_rights %}
            <div class="card h-50">
                <div class="btn btn-dark" onclick="parent.open('https://twiki.cern.ch/twiki/bin/view/CMS/TrackerDQMShift')">
                    <div class="card-header">
                        <h4 class="text-center font-weight-bold mt-1 mb-1">Tutorials & Twikis</h4>
                    </div>
                    <img class="card-img-top embed-responsive-item img" src="{% static "home/img/tutorialsTwiki.jpg" %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center" style="font-size: 18px">Watch tutorials, Read twikis</p>
                    </div>
                </div>
            </div>
            <div class="card h-50">
                <div class="btn btn-dark" onclick="location.href='{% url 'cablingmap:cablingmapHome' %}'">
                    <div class="card-header">
                        <h4 class="text-center font-weight-bold mt-1 mb-1">Cabling Map & DCS Trend</h4>
                    </div>
                    <img class="card-img-top embed-responsive-item img" src="{% static "home/img/cablingMap.jpg" %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center" style="font-size: 18px">Display cabling maps & DCS trend</p>
                    </div>
                </div>
            </div>
            <div class="card h-50">
                <div class="btn btn-dark" onclick="location.href='{% url 'mlplayground:mlplaygroundHome' %}'">
                    <div class="card-header">
                        <h4 class="text-center font-weight-bold mt-1 mb-1">ML Playground</h4>
                    </div>
                    <img class="card-img-top embed-responsive-item img" src="{% static "home/img/mlPlayground2.jpg" %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center" style="font-size: 18px">Build ML models</p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}


