{% extends 'dqmhelper/base.html' %}

{% load static %}

{% block style %}

<link rel="stylesheet" type="text/css" href="{% static "home/css/style.css" %}">

{% endblock style %}

{% block content %}

<div class="album py-4 bg-light">
    <div class="container">
        {% if user.is_authenticated %}
        <div class="card-deck">

            {% if user.has_shifter_rights %}
            <div class="card h-50">
                <div class="btn btn-dark" onclick="location.href='{% url 'openruns:openruns' %}'">
                    <div class="card-header">
                        <h4 class="text-center font-weight-bold mt-1 mb-1">Certification</h4>
                    </div>
                    <img class="card-img-top embed-responsive-item img" src="{% static "home/img/certify.png" %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center" style="font-size: 18px">Tool for the certification of the runs</p>
                    </div>
                </div>
            </div>
            <div class="card h-50">
                <div class="btn btn-dark" onclick="location.href='{% url 'listruns:list' %}'">
                    <div class="card-header">
                        <h4 class="text-center font-weight-bold mt-1 mb-1">List Runs</h4>
                    </div>
                    <img class="card-img-top embed-responsive-item img" src="{% static "home/img/listruns.png" %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center" style="font-size: 18px">Tool for listing the certified runs</p>
                    </div>
                </div>
            </div>
            <div class="card h-50">
                <div class="btn btn-dark" onclick="location.href='{% url 'summary:summary' %}'">
                    <div class="card-header">
                        <h4 class="text-center font-weight-bold mt-1 mb-1">Daily Shift Report</h4>
                    </div>
                    <img class="card-img-top embed-responsive-item img" src="{% static "home/img/dailyshiftreport.jpg" %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center" style="font-size: 18px">Generate the Daily Shift Report</p>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
        <div class="card-deck pt-4">
            {% if user.has_shift_leader_rights %}
            <div class="card h-50">
                <div class="btn btn-dark" onclick="location.href='{% url 'shiftleader:shiftleader' %}'">
                    <div class="card-header">
                        <h4 class="text-center font-weight-bold mt-1 mb-1">Shift Leader Report</h4>
                    </div>
                    <img class="card-img-top embed-responsive-item img" src="{% static "home/img/shiftreport.jpg" %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center" style="font-size: 18px">Generate the Shift Leader Report</p>
                    </div>
                </div>
            </div>
            <div class="card h-50">
                <div class="btn btn-dark" onclick="location.href='{% url 'addrefrun:addrefrun' %}'">
                    <div class="card-header">
                        <h4 class="text-center font-weight-bold mt-1 mb-1">Add Reference Run</h4>
                    </div>
                    <img class="card-img-top embed-responsive-item img" src="{% static "home/img/addreference.png" %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center" style="font-size: 18px">Tool for adding new reference runs</p>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="card h-50">
                <div class="btn btn-dark" onclick="location.href='{% url 'trackermaps:maps' %}'">
                    <div class="card-header">
                        <h4 class="text-center font-weight-bold mt-1 mb-1">Tracker Maps</h4>
                    </div>
                    <img class="card-img-top embed-responsive-item img" src="{% static "home/img/trackermaps.png" %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center" style="font-size: 18px">Generate Tracker Maps</p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}


