{% extends 'certifier/base.html' %}

{% load static %}

{% block content %}

<div class="album py-4 bg-light">
    <div class="container">
        <div class="card-deck">
            <div class="card h-50">
                <div class="btn btn-dark" onclick="location.href='{% url 'index' %}'">
                    <div class="card-header">
                        <h4 class="text-center font-weight-bold mt-1 mb-1">Certification</h4>
                    </div>
                    <img class="card-img-top img-thumbnail" style="width: 100%; height: 185px" src="{% static "certifier/certify.png" %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center" style="font-size: 18px">Tool for the certification of the runs</p>
                    </div>
                </div>
            </div>
            <div class="card h-50">
                <div class="btn btn-dark">
                    <div class="card-header">
                        <h4 class="text-center font-weight-bold mt-1 mb-1">Shift Leader Report</h4>
                    </div>
                    <img class="card-img-top img-thumbnail" style="width: 100%; height: 185px" src="{% static "certifier/shiftreport.jpg" %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center" style="font-size: 18px">Generate the Shift Leader Report</p>
                    </div>
                </div>
            </div>
            <div class="card h-50">
                <div class="btn btn-dark">
                    <div class="card-header">
                        <h4 class="text-center font-weight-bold mt-1 mb-1">Daily Report</h4>
                    </div>
                    <img class="card-img-top img-thumbnail" style="width: 100%; height: 185px" src="{% static "certifier/dailyreport.png" %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center" style="font-size: 18px">Generate the Daily Report</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
