appdirs==1.4.3
attrs==18.2.0
black==18.9b0
cernrequests==0.2.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
defusedxml==0.5.0
Django==2.1.7
django-allauth==0.39.1
django-filter==2.1.0
djangorestframework==3.9.1
future==0.17.1
idna==2.8
Markdown==3.0.1
oauthlib==3.0.1
python-decouple==3.1
python3-openid==3.1.0
pytz==2018.9
requests==2.21.0
requests-oauthlib==1.2.0
toml==0.10.0
urllib3==1.24.1
git+https://github.com/ptrstn/wbmcrawlr
xmltodict==0.12.0
