numba
llvmlite
asgiref<4.0.0
cernrequests>=0.4.1
certifi<2023.0.0
channels[daphne]
channels_redis
Django<5.0.0
django-allauth==64.0.0
django-allauth[socialaccount]
django-bootstrap3<24.0
django-filter<24.0
django-ckeditor<7.0.0
django-tables2<3.0.0
djangorestframework<4.0.0
django-model-utils
psycopg2-binary<3.0.0
python-decouple<4.0
requests<3.0.0
daphne<5.0.0
django-widget-tweaks<2.0.0
django-extensions<4.0.0
paramiko
runregistry==1.5.0
apscheduler
whitenoise
factory_boy
prettytable
pyjwt
git+https://gitlab.cern.ch/cmsoms/oms-api-client
git+https://github.com/eea/odfpy.git
