asgiref>=3.2.0
cernrequests>=0.3.0
certifi==2018.11.29
channels_redis
django-allauth>=0.40.0
django-bootstrap3==9.1.0
django-filter>=2.2.0
django-ckeditor==5.5.0
django-tables2>=2.2.1
djangorestframework>=3.10.3
Django>=3.0.3
psycopg2-binary>=2.8.3
python-decouple==3.1
requests==2.21.0
terminaltables==3.1.0
daphne>=2.4.1
django-widget-tweaks>=1.4.5
django-extensions>=2.1.6
numpy>=1.16.3
git+https://github.com/CMSTrackerDPG/runregcrawlr
git+https://github.com/CMSTrackerDPG/dqmcrawlr
git+https://github.com/CMSTrackerDPG/wbmcrawlr
git+https://github.com/ptrstn/cms-tracker-studies
pandas==0.24.2
paramiko
seaborn
scipy
scikit-learn
#MulticoreTSNE
umap-learn
runregistry
apscheduler
whitenoise
