{% extends 'dqmhelper/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'summary/css/summary.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container-fluid">
	<!--
		 **INFO** When is a RUN marked as 'Good'?
		 Depends on runtype:
		 | - - - - - - - - - - - - - - - - - - - - - - - - - - |
		 |-(Collisions) pixel    = (Good OR Lowstat)   AND     |
		 |              sistrip  = (Good OR Lowstat)   AND     |
		 |              tracking = (Good OR Lowstat)           |
		 | - - - - - - - - - - - - - - - - - - - - - - - - - - |
		 |-(Cosmics)    sistrip  = (Good OR Lowstat)   AND     |
		 |              tracking = (Good OR Lowstat)           |
		 |- - - - - - - - - - - - - - - - - - - - - - - - - - -|
	-->

	{% if alert_infos %}
	{% for info in alert_infos %}
	<div class="alert alert-info">
		<strong>Info:</strong> {{ info }}
	</div>
	{% endfor %}
	{% endif %}

	{% if alert_filters %}
	<div class="alert alert-info">
		<strong>Applied filters:</strong>
		<ul>
			{% for item in alert_filters %}
			<li>{{ item }}</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}


	{% if alert_errors %}
	{% for error in alert_errors %}
	<div class="alert alert-danger">
		<strong>Error!</strong> {{ error }}
	</div>
	{% endfor %}
	{% endif %}

	<!--
		 Request summary for specific date

		 Simple form which loads the same page with the "date"
		 parameter, which loads the summary for the date
		 supplied.
	-->
	<div class="card border-light shadow p-3 bg-white rounded mb-4">
		<form id="summary_date_form" method="get" action="">
			<div class="form-group">
			<h5> Request summary for specific date</h5>
			<label for="summary_date">Date:</label>
			<input type="date" class="form-control"
				   id ="summary_date"
				   name="date"
				   placeholder=""
				   aria-describedby="summary_date_help"
				   required
			>
			<small id="summary_date_help"
				   class="form-text text-muted">
				Specify date to generate the summary for
			</small>
					</div>
			<button type="submit" class="btn btn-primary">Generate summary</button>
		</form>
	</div>

	<!--  -->
	<div class="card border-light shadow p-3 bg-white rounded mb-4">
		<h5>Summary</h5>
		<div class="pb-3">
			<h6>Actions</h6>
			<a href="#comment_div" onclick="show_special_comment_area()">
				<button class="btn btn-light">
					<i class="bi bi-card-text"></i> Add Special Comment
				</button>
			</a>
			<a href="#links_div" onclick="show_links_area()">
				<button class="btn btn-light">
					<i class="bi bi-link-45deg"></i> Add Links
				</button>
			</a>
		</div>
		<div class="pt-3 border-top">
			<h6>Generated summary</h6>
			<!--
				 Do *NOT* mess with formatting inside the pre element,
				 as it will mess up the final summary formatting.

				 I.e. new lines, spaces between <p> and <div> will
				 *also show inside the <pre>* !!
			-->
			<form id="summary_form">
				{{ csfr_token }}
				<pre id="summary" class="pt-3">
=============Reference Runs===============
{% for ref in refs %}{{ ref }}
{% endfor %}
=============Runs Checked================
{% for run in runs %}{{ run }}
{% endfor %}
=============Tracker Maps=================
{% for tk_map in tk_maps %}{{ tk_map }}
{% endfor %}
=============HDQM Trends==================
=============Certified Runs===============
{% for certified_run in certified_runs %}{{ certified_run }}
{% endfor %}
=============Sum of Quantities============
{% for sum in sums %}{{ sum }}
{% endfor %}
<div id=comment_div style="display: none;">
=============Special Comments=============
<p id=specialcomment_text></p><div id=formarea>{{form.special_comment}}<div align="center" class="row p-1"><div class="col"><button type="button" class="btn btn-light" onclick="write_to_comment_area()"><i class="bi bi-check-lg"></i> Apply</button></div><div class="col"><button type="button" class="btn btn-light" onclick="hide_comment_area()"><i class="bi bi-x-lg"></i> Remove</button></div></div></div></div>
=============Link to the Prompt Feedback plots============
<p id=links_text>Please add the link</p><div id=links_div style="display: none;"><div id=linksarea>{{form.links_prompt_feedback}}<div align="center" class="row p-1"><div class="col"><button type="button" class="btn btn-light" onclick="write_to_text_area()"><i class="bi bi-check-lg"></i> OK</button></div></div></div></div></pre>
				<!-- END PREFORMATTED TEXT -->
			</form>
		</div>
	</div>
</div>
{% endblock content %}

{% block scripts %}
<script>
 function submit_form(){
     // var form = $("#summary_form");
     $.ajax({
         headers: { "X-CSRFToken": '{{csrf_token}}' },
         type: "POST",
         url: "{% url 'summary:summary_info' %}",
         data: {
			 'links_prompt_feedback': $('#id_links_prompt_feedback').val(),
			 'special_comment' : $('#id_special_comment').val(),
         },
         success: function(data) {
			 console.log(data);
			 
		 }
	 })
 }
  
 function show_special_comment_area() {
	 $('#comment_div').css('display', 'inline-block');
	 $('#formarea').css('display', 'inline-block');
	 $('#specialcomment_text').css('display', 'None');
 }

 // Get text from form field, append it to HTML
 function write_to_comment_area() {
     let t = $('#id_special_comment').val();
     $('#specialcomment_text').html(t);
     $('#formarea').css('display', 'None');
     $('#specialcomment_text').css('display', 'inline-block');
	 submit_form();
 }

 function hide_comment_area() {
     $('#comment_div').css('display', 'None');
 }

 function show_links_area() {
     $('#links_div').css('display', 'inline-block');
     $('#linksarea').css('display', 'inline-block');
     $('#links_text').css('display', 'None');
 }

 // Get text from links field, append it to HTML
 function write_to_text_area() {
     let t = $('#id_links_prompt_feedback').val();
     $('#links_text').html(t);
     $('#linksarea').css('display', 'None');
     $('#links_text').css('display', 'inline-block');
	 submit_form();	 
 }



</script>
{% endblock scripts %}
