{# extends either base.html or modal-basel.html #}
{% extends checklist_base_template_name %}

{% block title %}TkDQM Doc: General Help{% endblock %}
{% block checklist_block_id %}general-id{% endblock %}
{% block checklist_headline %}General Checklist{% endblock %}

{% block checklist_content %}
    These are basic checks and actions to be performed once the certification of a run start. Dediced checks for Tracker Maps, Pixel, SiStrip and Tracking are presented in other check list section (accessible frop the "Add a Run" form.

    Before starting the run inspection, please check the correct dataset in the DQM Offline GUI:
    <ul>
        <li>In pp collision the dataset to use is <b>StreamExpress</b>, for prompt reco runs <b>ZeroBias</b> is to be used,
        <li>In case of cosmic run, you have to check <b>StreamExpressCosmics</b> and <b>Cosmics</b> for the prompt reco
        <li> For heavy ions data taking the dataset to check are <b>StreamHiExpress</b> and <b>MinimumBias1</b>
    </ul>

    <h3>General Check List</h3>
    <ul>
        <li> Check is the sample is finished (Workspace->Info on the GUI). If more that 70% of the LS are processes, produce the TrackerMaps (you may need to use the "force" option if the run is not 100% processed).</li>
        <li> Check the number if LS and the number of events. Be aware that, in case of low stat, some quality test might not be robust and coudl give bad resutls while the tracker is fine.</li>
        <li> Check the amount of LS for which the HV is on. </li>
        <li> Check the trigger rates (go to the <a href="https://cmswbm.web.cern.ch/cmsdb/servlet/RunSummary" target="_top">RunSummary</a>), make sure the trigger rate is non-zero.</li>
        <li> Choose your reference run (and set it in the GUI to be overlayed to all curves. Using <a href="https://cmswbm.web.cern.ch/cmsdb/servlet/RunSummary" target="_top">RunSummary</a>, select a reference runs which has similar beam conditions than the run under certification. </li>
        <li> One the GUI, go to the "Summary" workspace, and check the summaries for SiStrip and Tracking. If SiStrip summary shows fractions > 95%, you already have an indication on the data quality </li>
        <li> Check quickly look at the "Tracking" workspace. Make sure you do see tracks.
        <li> Create the tracker maps, following the instruction given on <a href="https://twiki.cern.ch/twiki/bin/view/CMS/TrackerOfflineShiftInstructions#TkMaps" target="_top">link</a>.
    </ul>
{% endblock %}
