{% extends checklist_base_template_name %}

{% block title %}TkDQM Doc: SiStrip Help{% endblock %}
{% block checklist_block_id %}pixel-id{% endblock %}
{% block checklist_headline %}Pixel Helper{% endblock %}

{% block checklist_content %}
    This page contains the list of checks to be done for every run, but also some useful information about possible issues and links to the documentation.

    <h3>Pixel check list</h3>

    (TO BE UPDATED WITH THE NEW <a href="/twiki/bin/view/CMS/SUMMARY" class="twikiLink">SUMMARY</a> MAPS FOR 2018)

    <ul>
        <li>  Check the number of cluster plot and the trends. Make sure the Pixel detector is giving data, in the case the trend present some features (i.e dips or peaks) compare with the corresponding histogram in the Strip, if the feature is present also there this mean it is due to a change in trigger rate or to a luminosity scan. </li>
        <li> Check the on-track cluster charge and size comparing against a suitable reference in particular check if the distributions match and the MPV value is stable. In case you find a distorted shape (i.e multiple peaks are visible), check with the help of the ROC maps if those clusters become from a particular region of the detector. Also the cluster charge for inner and outer ladder (one plot per layer) have to be checked against the reference.</li>
        <li> Compare occupancy maps with a reference and to the <strong>previous run</strong> and write an elog in case of new dead FULL MODULES (in a way to avoid calls for stuck TBMs which are anyway taken into account in the Summary plot) </li>
        <li> Compare the Digi and FED0f25 maps, and if there are holes in the Digi maps which are not showing up in the FEDof25 map ( (top)PixelPhase1/FED/DeadChannels per ROC), write an elog</li>
        <li> Check the dead ROC number, if there is a difference with respect to the <strong>previous run</strong> (do not use the reference for this!), if so check the digi occupancy maps at ROC level and find the new holes (to be added to the shift report). The Pixel detector is fundamental for tracking, a new hole can cause issues in the reconstruction.  If a large area is dead, inform the SL and submit an ELog with title: "New hole(s) in the Pixel detector" attaching an image showing clearly where the new hole appear.</li>
        <li>If there are no new holes and the charge distributions are fine, the Pixel detector most probably is in a good shape. </li>
        <li>You can then check the Error plot to see if there aren't issues in the readout. Finally check the hit efficiency and the residuals to make sure that the tracking is behaving.</li>
    </ul>

    <h3>Tips for investigating potential issues </h3>

    <h3><a name="Pixel_Plots"></a> Descriptions of pixel plots </h3>

    Here are descriptions of all the PixelPhase1 plots presented in the "quick collection" of the DQM Gui.
    <p /> <ol>
    <li style="list-style-type: lower-roman;"> Report Summary Map <a href="https://twiki.cern.ch/twiki/bin/view/CMS/PixelPhase1OfflineDQMHistoDescription#Pixel_Report_Summary_Map" target="_top">description</a>
    </li> <li style="list-style-type: lower-roman;"> Number of clusters and trend in Pixel Barrel and Forward <a href="https://twiki.cern.ch/twiki/bin/view/CMS/PixelPhase1OfflineDQMHistoDescription#Nclus" target="_top">description</a>
</li> <li style="list-style-type: lower-roman;"> Cluster charge and size (On Track) <a href="https://twiki.cern.ch/twiki/bin/view/CMS/PixelPhase1OfflineDQMHistoDescription#Cluster_charge_and_size_on_track" target="_top">description</a>
</li> <li style="list-style-type: lower-roman;"> Cluster charge (On Track) per Inner and Outer ladders <a href="https://twiki.cern.ch/twiki/bin/view/CMS/PixelPhase1OfflineDQMHistoDescription#ChargeInner" target="_top">description</a>
</li> <li style="list-style-type: lower-roman;"> N Dead ROCs <a href="https://twiki.cern.ch/twiki/bin/view/CMS/PixelPhase1OfflineDQMHistoDescription#Number_of_dead_ROCs" target="_top">description</a>
</li> <li style="list-style-type: lower-roman;"> Digi Occupancy Maps per module <a href="https://twiki.cern.ch/twiki/bin/view/CMS/PixelPhase1OfflineDQMHistoDescription#Digi_Occupancy_Maps_per_module" target="_top">description</a>
</li> <li style="list-style-type: lower-roman;"> Number of Tracks <a href="https://twiki.cern.ch/twiki/bin/view/CMS/PixelPhase1OfflineDQMHistoDescription#Number_of_Tracks" target="_top">description</a>
</li> <li style="list-style-type: lower-roman;"> FED Errors <a href="https://twiki.cern.ch/twiki/bin/view/CMS/PixelPhase1OfflineDQMHistoDescription#FED_Errors" target="_top">description</a> (those are for the moments in the layouts)
</li> <li style="list-style-type: lower-roman;"> Hit Efficiency (<strong>in collisions only</strong>) <a href="https://twiki.cern.ch/twiki/bin/view/CMS/PixelPhase1OfflineDQMHistoDescription#Hit_Efficiency" target="_top">description</a>
</li> <li style="list-style-type: lower-roman;"> Track Residuals <a href="https://twiki.cern.ch/twiki/bin/view/CMS/PixelPhase1OfflineDQMHistoDescription#Track_Residuals" target="_top">description</a>
</li> <li style="list-style-type: lower-roman;"> HitEfficiency plots for barrel layers and endcap disks <a href="https://twiki.cern.ch/twiki/bin/view/CMS/PixelOfflineDQMHistoDescription#HitEfficiency_Barrel_and_Endcap" target="_top">description</a> (not for Cosmics)
</li></ol>
    <p />
    <h4><a name="Pixel_Maps"></a> Pixel Maps </h4> <ol>
    <li style="list-style-type: lower-roman;"> Number of Clusters <a href="https://twiki.cern.ch/twiki/bin/view/CMS/PixelPhase1OfflineDQMHistoDescription#Number_of_Clusters_Inclusive" target="_top">description</a>
    </li> <li style="list-style-type: lower-roman;"> Cluster Charge (On-Track) <a href="https://twiki.cern.ch/twiki/bin/view/CMS/PixelPhase1OfflineDQMHistoDescription#Cluster_charge_On_Track" target="_top">description</a>
</li> <li style="list-style-type: lower-roman;"> Hit Efficiency (<strong>in collisions only</strong>) <a href="https://twiki.cern.ch/twiki/bin/view/CMS/PixelPhase1OfflineDQMHistoDescription#Hit_Efficiency_AN1" target="_top">description</a>
</li></ol>
    <p />

    <h4><a name="HDQM_trends_AN1"></a> HDQM trends </h4>
    <strong>Other Plots</strong>:<BR>  <ol>
    <li style="list-style-type: lower-roman;"> historic DQM trend plots: average cluster charge, cluster size, digi charge, Residuals (mean and RMS), hit efficiency, fraction of digis in clusters <a href="https://twiki.cern.ch/twiki/bin/view/CMS/PixelPhase1OfflineDQMHistoDescription#Historic_DQM_plots" target="_top">description</a>
    </li></ol>
    <p />

{% endblock %}
