{% extends checklist_base_template_name %}

{% block title %}TkDQM Doc: SiStrip Help{% endblock %}
{% block checklist_block_id %}sistrip-id{% endblock %}
{% block checklist_headline %}SiStrip Helper{% endblock %}

{% block checklist_content %}

    <h3>SiStrip check-list </h3>
    <ul>
        <li> Check general distributions: *# of Cluster trend*, *!OnTrackCluster (!StoN)*, *FED-Detected Errors and Summary*. You now have a "big picture" of the basic quantities: you know if the detector produce clusters, if there are tracks reconstructed out of the clusters and if the read-out Errors are in a reasonable range</li>
        <li>Check the S/N of on-track clusters against the reference, it tells you if the local reconstruction is correct</li>
        <li>Check the *!StripClusVsPixClus* for stability (see the description for details), if in cosmics, check also !DeltaBx_vs_ApvCycle</li>
        <li>At this point the !TkMaps should be ready to inspect, start looking at them. At first look to genral variables !TkMaps *Number of Clusters per module*, *Number of clusters on-track per module*, *Mean value for S/N for on-track cluster corrected for the angle*, *Cluster charge / cm from track* checking if there are new "hot" regions (see the plot description for details) </li>
        <li>Check the *!FEDChannelErrors* !TkMap, in the case new "coloured" regions appear, check in the GUI the *Any Error Per APV Per Event* plot to identify what is the FED and the APV range giving errors (see description for details)</li>
        <li>Finally, go back to the *Report Summary Map*, open the  *!QTestAlarms* map and follow  <a href="https://twiki.cern.ch/twiki/bin/view/CMS/TrackerOfflineShiftInstructions#BadCom" target="_top"> Guidelines to identify bad components or single modules in general </a>
        <li>Before the end of the shift, check the *HDQM trends* including all the runs taken during the week (for cosmics, collisions in Express and Prompt) </a>
    </ul>



    <h3>Tips for investigating potential issues </h3>


    <h3>Descriptions of SiStrip plots </h3>
    A list of plots to check follows, with a link to the their description (along with the actions to be taken), note that only few plots are relevant for the certification process, the other plots in the list are meant for futher investigation.<BR>
    <ol>
        <li style="list-style-type: lower-roman;"> SiStrip Report Summary Map <a href="https://twiki.cern.ch/twiki/bin/view/CMS/SiStripOfflineDQMHistoDescription#SiStrip_Report_Summary_Map" target="_top">description</a>  NOTE: this plot is fundamental, and is the starting point to monitor the bad components evolution on a run by run basis (see the <a href="https://twiki.cern.ch/twiki/bin/view/CMS/TrackerOfflineShiftInstructions#BadCom" target="_top">Guidelines to identify bad components or single modules in general</a>) </li>
        <li style="list-style-type: lower-roman;"> # of Cluster trend <a href="https://twiki.cern.ch/twiki/bin/view/CMS/SiStripOfflineDQMHistoDescription#Number_Of_Cluster_Trend" target="_top">description</a>
        </li> <li style="list-style-type: lower-roman;"> FED-Detected Errors, and FED-Detected Errors Summary <a href="https://twiki.cern.ch/twiki/bin/view/CMS/SiStripOfflineDQMHistoDescription#FED_Detected_Errors" target="_top">description</a>
    </li> <li style="list-style-type: lower-roman;"> (in case the FED error histograms show problems) Any Error Per APV Per Event <a href="https://twiki.cern.ch/twiki/bin/view/CMS/SiStripOfflineDQMHistoDescription#Any_Error_Per_APV_Per_Event" target="_top">description</a>
    </li> <li style="list-style-type: lower-roman;"> OnTrackCluster (StoN) <a href="https://twiki.cern.ch/twiki/bin/view/CMS/SiStripOfflineDQMHistoDescription#OnTrackCluster_StoN" target="_top">description</a>
    </li> <li style="list-style-type: lower-roman;"> StripClusVsPixClus <a href="https://twiki.cern.ch/twiki/bin/view/CMS/SiStripOfflineDQMHistoDescription#StripClusVsPixClus" target="_top">description</a> (not for Cosmics)
    </li> <li style="list-style-type: lower-roman;"> <strong>Only for long ( &gt; 100 LS) Cosmic runs</strong>: DeltaBx_vs_ApvCycle <a href="https://twiki.cern.ch/twiki/bin/view/CMS/SiStripOfflineDQMHistoDescription#DeltaBx_vs_ApvCycle" target="_top">description</a>
    </li></ol>
    <p />
{% endblock %}
