{% extends 'dqmhelper/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static "mlplayground/css/style.css" %}">
{% endblock style %}

{% block content %}
<div class="album py-4 bg-light">
    <div class="container">
        <div class="card-deck">
            <div class="card h-50">
                <div class="btn btn-dark" onclick="parent.open('https://pixelcablingmap.web.cern.ch/PixelCablingMap/pixelcablingweb.php')">
                    <div class="card-header">
                        <h4 class="text-center font-weight-bold mt-1 mb-1">Pixel Detector</h4>
                    </div>
                    <img class="card-img-top embed-responsive-item img" src="{% static "cablingmap/img/pixelSystem.png" %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center" style="font-size: 18px">Cabling map for Pixel detector</p>
                    </div>
                </div>
            </div>
            <div class="card h-50">
                <div class="btn btn-dark" onclick="parent.open('https://sistripdcstrend.web.cern.ch/SiStripDCSTrend/')">
                    <div class="card-header">
                        <h4 class="text-center font-weight-bold mt-1 mb-1">Strip Detector</h4>
                    </div>
                    <img class="card-img-top embed-responsive-item img" src="{% static "cablingmap/img/stripTracker.jpg" %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center" style="font-size: 18px">DCS Trends for Strip detector</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
