.good-dataset {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    border-radius: 8px;
}

.good-component {
    width: 64px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

.bad-component {
    width: 64px;
    text-align: center;
    background-color: red;
    color: white;
}

.excluded-component {
    text-align: center;
    background-color: #6E6E6E;
    color: white;
}
.scrollbar
{
    //height: 450px;
    background: #F5F5F5;
    overflow-y: scroll;
    overflow-x:auto;
}
table td {
   background-color: #F5F5F5;
}
table thead th {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 3;
    background-color: white;
}
th:after,
th:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
}
th:before {
    top: 0;
    border-top: 1px solid #EFEFEF;
}
th:after {
    bottom: 0;
    border-bottom: 1px solid #EFEFEF;
}
#style-1::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
    width: 9px;
    height: 9px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #666;
}
