.good-component {
    width: 64px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

.bad-component {
    width: 64px;
    text-align: center;
    background-color: red;
    color: white;
}

.excluded-component {
    text-align: center;
    background-color: #6E6E6E;
    color: white;
}
