{% extends 'certifier/base.html' %}

{% block title %}Certify new run{% endblock title %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="mt-4 mb-4 col-lg-12 text-center">
                <h1>Certify a new run</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <form method="get" class="justify-content-center align-items-center">
            <div class="form-group">
                <div class="row mb-3 justify-content-center">
                    <div class="col"></div>
                    <div class="col">
                        <input type="number" class="form-control" name='run_number' id='id-run-number' min="100000" max="999999" placeholder="Run number" aria-describedby="emailHelp" >
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row mb-3 justify-content-center">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-secondary disabled">
                            <input type="radio" name="reco" value='online' id="id-reco-online" autocomplete="off" disabled="disabled" class="sr-only" required> Online
                        </label>
                        <label class="btn btn-outline-secondary">
                            <input type="radio" name="reco" value='express' id="id-reco-express" autocomplete="off" class="sr-only" required> Express
                        </label>
                        <label class="btn btn-outline-secondary">
                            <input type="radio" name="reco" value='prompt' id="id-reco-prompt" autocomplete="off" class="sr-only" required> Prompt
                        </label>
                        <label class="btn btn-outline-secondary">
                            <input type="radio" name="reco" value='rereco' id="id-reco-rereco" autocomplete="off" class="sr-only" required> ReReco
                        </label>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary">Certify</button>
            </div>
        </form>
    </div>

    <div class="container mt-4" style="max-width: 800px;">
        <div class="ml-4 mr-4">
            <h2>Open runs</h2>
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Run number</th>
                    <th scope="col">Reco</th>
                    <th scope="col">Run Type</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">324564</th>
                    <td>Express</td>
                    <td>Collision</td>
                    <td><button class="btn btn-info" onclick="select_run()">select</button></td>
                </tr>
                <tr>
                    <th scope="row">324563</th>
                    <td>Express</td>
                    <td>Cosmic</td>
                    <td><button class="btn btn-info" onclick="select_run()">select</button></td>
                </tr>
                <tr>
                    <th scope="row">324555</th>
                    <td>ReReco</td>
                    <td>Collision</td>
                    <td><button class="btn btn-info" onclick="select_run()">select</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
    function select_run(){
        $("#id-run-number").val("321123");
        $('#id-reco-express').prop('checked',true).click();
    }
    </script>

{% endblock content %}
