{%  extends 'dqmhelper/base.html' %}

{% block head %}
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock head %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="mt-4 mb-4 col-lg-12 text-center">
                <h1>{{ run_number }} <span class="badge badge-info">{{ reco|capfirst }}</span></h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-pca-tab" data-toggle="pill" href="#v-pills-pca" role="tab" aria-controls="v-pills-pca" aria-selected="true">PCA</a>
                    <a class="nav-link" id="v-pills-tsne-tab" data-toggle="pill" href="#v-pills-tsne" role="tab" aria-controls="v-pills-tsne" aria-selected="false">t-SNE</a>
                    <a class="nav-link" id="v-pills-umap-tab" data-toggle="pill" href="#v-pills-umap" role="tab" aria-controls="v-pills-umap" aria-selected="false">UMAP</a>
                    <a class="nav-link" id="v-pills-strip-tab" data-toggle="pill" href="#v-pills-strip" role="tab" aria-controls="v-pills-strip" aria-selected="false">Strip</a>
                    <a class="nav-link" id="v-pills-tracking-tab" data-toggle="pill" href="#v-pills-tracking" role="tab" aria-controls="v-pills-tracking" aria-selected="false">Tracking</a>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-pca" role="tabpanel" aria-labelledby="v-pills-pca-tab"><div id="pca"></div></div>
                    <div class="tab-pane fade" id="v-pills-tsne" role="tabpanel" aria-labelledby="v-pills-tsne-tab"><div id="t_sne"></div></div>
                    <div class="tab-pane fade" id="v-pills-umap" role="tabpanel" aria-labelledby="v-pills-umap-tab"><div id="umap"></div></div>
                    <div class="tab-pane fade" id="v-pills-strip" role="tabpanel" aria-labelledby="v-pills-strip-tab">Strip</div>
                    <div class="tab-pane fade" id="v-pills-tracking" role="tabpanel" aria-labelledby="v-pills-tracking-tab">Tracking</div>
                </div>
            </div>
        </div>
{% endblock content %}

{% block scripts %}

        <script>
            var data = {{pca_data}}

            var layout = {
                title:'Principal Component Analysis (first two components) - 2018B Express',
                autosize: false,
                width: 1500,
                height: 750,
            };

            Plotly.newPlot('pca', data, layout, {showSendToCloud: true});
        </script>

        <script>
            var data = {{t_sne_data}}

            var layout = {
                title:'t-Distributed Stochastic Neighbor Embedding - 2018B Express',
                autosize: false,
                width: 1500,
                height: 750,
            };

            Plotly.newPlot('t_sne', data, layout, {showSendToCloud: true});
        </script>

        <script>
            var data = {{umap_data}}

            var layout = {
                title:'Uniform Manifold Approximation and Projection - 2018B Express',
                autosize: false,
                width: 1500,
                height: 750,
            };

            Plotly.newPlot('umap', data, layout, {showSendToCloud: true});
        </script>
{% endblock scripts %}
