{% extends "dqmhelper/base.html" %}

{% block title %}
    Hard Delete Reference Run
{% endblock %}
{% block content %}
    {% load static %}

    <h1 align="center">Hard Delete Run</h1>
    </br>
    <h4 align="center">
        Are you sure you want to irrevocably delete this reference run and all certifications that used it?
    </h4>

    <p>
    <ul>
        <li>Run Number: {{ runReconstruction.run.run_number }}</li>
        <li>Reco: {{ runReconstruction.reconstruction }}</li>
        <li>Type: {{ runReconstruction.run.run_type }}</li>
    </ul>
    </p>

    <form action="" method="post" align="center">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes</button>
        <a href="{% url 'addrefrun:addrefrun' %}" class="btn btn-default">No</a>
    </form>
{% endblock %}
{% block scripts %}
{% endblock %}
