{% extends "dqmhelper/base.html" %}
{% load static %}
{% block title %}TkDQM Doc: Delete Run{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<h1 align="center" class="mb-5">Delete Run</h1>
<h4 align="center">
Are you sure you want to delete run reconstruction {{ object.run_number }} {{ object.reconstruction }} ?
</h4>
<div class="container">
	<form action="" method="post" align="center">
		{% csrf_token %}
		<div align="center">
			<button type="submit"
						  class="btn btn-secondary">
				<span class="bi bi-trash mr-1"></span>Yes
			</button>
			
			<button type="button"
						  class="btn btn-primary"
						  onclick="location.href={% url 'shiftleader:shiftleader' %}">
				<!-- <span class="bi bi-x-lg mr-1"></span> -->No
			</button>
		</div>
	</form>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
