{# used for the show_checklist_checkbox template tag #}
{% if checklist %}
    {% load widget_tweaks %}
    <div class="col-sm-offset-3 col-sm-9 checklist">
        {% if required %}
            {% render_field checkbox required=required %}
        {% else %}
            {% render_field checkbox%}
        {% endif %}
        <label for="id_checklist_{{ checklist.identifier }}" class="no-bold-label">
            <span class="glyphicon glyphicon-list-alt"></span> {{ checklist.title }} Checklist

            <button type="button"
                    class="btn btn-link btn-sm"
                    data-toggle="modal"
                    data-target="#modal-{{ checklist.identifier }}-id">
                [Show]
            </button>
        </label>
    </div>
{% endif %}
